body {
  color: black;
  font-size: 0.85em;
  margin: 0;
}

header {
  background: #e1e8f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

header h1 {
  margin: 0.2rem;
}

header form {
  display: block;
}

#results {
  display: flex;
  flex-direction: column;
}

.book-card {
  background: #3a4660;
  color: white;
  margin: 2px 4px;
  padding: 4px 6px;
  border-radius: 10px;
}

.book-card a:link {
  color: white;
  text-decoration: none;
}

.book-card:hover {
  opacity: 0.75;
  cursor: pointer;
}
