body {
  color: black;
  margin: 0;
  display: flex;
  justify-content: center;
}

#app-container {
  max-width: 1180px;
  width: 100%;
  height: 100vh;
}

#app.untouched {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

header {
  background: #e1e8f0;
  padding: 4px 10px;
}

#app.untouched header {
  text-align: center;
  width: 90%;
  border-radius: 8px;
}

header h1 {
  padding: 4px 8px;
  margin: 0;
  font-size: 16pt;
}

header form {
  display: flex;
}

#searchbox {
  padding: 4px 4px;
}

#searchbox input {
  flex: 1;
  padding: 6px 10px 6px;
  border: none;
}

#results {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #efefef;
  color: black;
  margin: 2px 0px;
  padding: 4px 0px;
  width: 100%;
}

.book-card-left {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 4px 6px;
}

div.book-card-left a:link,
div.book-card-left a:visited {
  color: black;
  text-decoration: none;
}

.book-card-left img {
  box-shadow: 2px 2px 2px 1px #333;
  width: 128px;
}

.noThumbnail {
  width: 128px;
  height: 196px;
  background: #ccc;
  display: flex;
  text-align: center;
  align-items: center;
}

.book-card-right {
  flex: 2;
  padding: 4px 16px;
  font-size: 12px;
}

.book-card-right h3 {
  margin: 0px;
  padding: 4px 0px;
  font-size: 16px;
}

.book-card a:link,
.book-card a:visited {
  color: #0066c0;
  text-decoration: none;
}

.book-card a:hover {
  color: #c45500;
  text-decoration: underline;
}

.btn {
  font-weight: bold;
  background: #febd69;
  color: #111;
  border-style: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.loading-toast {
  font-weight: bold;
  position: absolute;
  bottom: 1vh;
  left: 1vh;
  background: black;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
}

.error-toast {
  font-weight: bold;
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  background: red;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
}

.publisher {
  font-style: italic;
}

.authorName {
  background: white;
  padding: 2px 6px;
  border-radius: 6px;
  margin: 0px 2px;
}

.book-info {
  margin: 4px 0px;
}

.recents {
  display: none;
}

@media (min-width: 640px) {
  #results {
    justify-content: space-between;
  }
  .recents-header {
    padding: 4px 8px;
    font-weight: bold;
  }

  .recent-items {
    display: flex;
    flex-direction: row;
  }

  .recent-items > button {
    padding: 4px;
    background: white;
    margin: 4px;
    opacity: 0.6;
    max-width: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recent-items > button:hover {
    opacity: 1;
    outline: 1px solid orange;
    cursor: pointer;
  }
  .book-card {
    width: 49.9%;
  }
}

@media (min-width: 960px) {
  .recents {
    display: flex;
    align-items: center;
  }
}

.no-results {
  font-weight: bold;
  color: red;
  text-align: center;
  width: 100%;
  padding: 80px;
}

.clear-button {
  flex: 1;
  text-align: right;
}

.clear-button button {
  background: red;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  margin: 4px;
  border-style: none;
  opacity: 0.75;
}

.clear-button button:hover {
  opacity: 1;
}
